@model FIT3077_Pre1975.Models.PatientsList

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $('th > :checkbox').click(function () {
                if ($(this).is(":checked")) {
                    $(this).closest('table')
                        .find('td > :checkbox')
                        .attr('checked', $(this).is(':checked'))
                        .prop('checked', $(this).is(':checked'))
                        .parent().parent().addClass("highlight");
                } else {
                    $(this).closest('table')
                        .find('td > :checkbox')
                        .attr('checked', $(this).is(':checked'))
                        .prop('checked', $(this).is(':checked'))
                        .parent().parent().removeClass("highlight");
                }
                $(this).parent().parent().removeClass("highlight");
            });
        });
        $("#mytable input").click(function () {
            var Id = parseInt($(this).attr('id'));
            if ($(this).is(":checked")) {
                $(this).parent().parent().addClass("highlight");
            } else {
                $(this).parent().parent().removeClass("highlight");
                var Id = $(this).attr('id');
            }
        });
        
    });
</script>

<script>
    $(function () {
        $("#btnUpdate").click(function () {
            var IdList = [];

            $("#mytable input[type=checkbox]:checked").each(function () {
                var row = $(this).closest("tr")[0];
                IdList.push(row.cells[2].innerHTML);
            });

            $.ajax({
                url: '@Url.Action("UpdateMonitor", "PatientList")',
                data: { ListId: IdList },
                dataType: "json",
                type: 'POST',
                traditional: true,
            });

            return false;
        });
    });
</script>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="checkall"></th>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int count = 1;
            foreach (Patient patient in Model)
            {
                // Create the list of these clients
                <tr>
                    <td><input type="checkbox" id="patient" +"@count"></td>
                    <td>@count</td>
                    <td>@patient.Id</td>
                    <td>@patient.Name</td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>
<div><button type="button" id="btnUpdate" class="btn btn-primary">Update Monitored Patients</button></div>

<style>
    .highlight {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }
</style>