@model FIT3077_Pre1975.Models.Patient

<div>

    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Patient Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        @if (Model != null && Model.BirthDate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
        }

        @if (Model != null && Model.Address != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address.Text)
            </dd>
        }

    </dl>
</div>
